.nav {
    margin-left: 100px;
    margin-top: 43px;
    height: 48px;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    align-items: center;
}

.mobile-toggle {
    display: none;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.meta-name {
    background: -webkit-linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.nav-links {
    list-style-type: none;
    display: flex;
    width: 626px;
    justify-content: space-around;
}

.connect {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    color: white;
    padding: 10px 0 10px 0;
    height: 48px;
    outline: 0px;
    border: 1px ;
    width: 170px;
    margin:0px 20px 0px 120px;
}

.navigators {
    display: flex;
    align-items: center;
}


@media(max-width:900px) {
    .nav {
        margin-left: 8px;
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
        align-items: flex-start;
        height: max-content;
        justify-content: space-evenly;
    }

    .nav-links {
        flex-direction: column;
        width: max-content;
    }

    .navigators {
        flex-direction: column;
        display: none;
        height: 0px;
        margin-top: 10px;
        transition: all 700ms ease-in-out;
    }

    .link {
        margin-bottom: 10px;
        border-bottom: gray;
        padding-bottom: 3px;
    }

    .mobile-navigators {
        height: max-content;
        display: block;
    }

    .mobile-toggle {
        display: block;
    }

    .connect {
        margin: 0px;
    }

    .logo {
        width: 100%;
    }
}